.App {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  width: 100%;
  border: 1px solid white;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.titleContainer {
  position: absolute;
}

.title {
  font-family: "Handjet", sans-serif;
  font-size: 5rem;
  color: white;
}

.searchBar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  height: 80px;
}

.tracksBox {
  border: 1px solid white;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.trackList {
  border: 1px solid white;
  width: 40%;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.track {
  border: 1px solid white;
  width: 85%;
}
