@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

input {
    border: none;
    border-bottom: 3px dotted #ffff;
    padding: 10px;
    background-color: black;
    color: white;
    width: 30rem;
    height: 80px;
    outline: none;

    font-family: "Martian Mono", monospace;
    font-size: 1.5rem;
    color: #ffff;
    box-sizing: border-box;

    vertical-align: bottom;
}